*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  background-color: #20445f;
  color: white;
  height: 50px;
}
.logo-LoL {
  padding: 100px auto;
  height: 450px;
  background-image: url(logo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.campeon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  background: linear-gradient(to right, rgb(121, 211, 255), rgb(74, 74, 74))
  repeat scroll 0% 0%;
}
.tarjeta {
  width: 300px;
  height: 400px;
  margin-top: 20px;
  border-radius: 5px;
  border: solid 3px red;
  background-color: black;
  color: wheat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tarjeta>img{
  width: 80%;
}